.galleryCont {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.galleryCont img {
  height: 35vh;
  margin: calc(1vh + 1vw);
  object-fit: cover;
  object-position: center;
}
