.mainNav {
   height: 50px;
   background-color: #FF9E15;
}

.mainNav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    list-style: none;
    
}

.mainNav li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.mainNav li a:hover {
    transition: all 0.1s ease-in-out;
    /* text-decoration: underline; */
    font-weight: bold;
}